*{
    margin:0px;
    padding:0px;
}

body{
    background:url('https://thumbs.dreamstime.com/z/beautiful-green-forest-national-park-scene-nature-background-beautiful-view-green-forest-national-park-scene-nature-landscape-108625840.jpg');

}

h1{
    color:white;
    padding-left:45%;
    padding-top: 20px;
}

form{
    padding-left:40px;
}

div.button{
    padding-left:40px;
    margin-top: 35px;
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 

    body{
        background:url('https://thumbs.dreamstime.com/z/beautiful-green-forest-national-park-scene-nature-background-beautiful-view-green-forest-national-park-scene-nature-landscape-108625840.jpg');
        background-repeat:no-repeat;
    }
    h1{
        color:white;
        padding-left:45%;
        padding-top: 20px;
    }
}